.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Adds padding for a balanced look */
  background-color: #d8fccc;
  color: green;
  z-index: 1000; /* Fixes the z-index value */
}

.banner-title {
  font-size: 1.5rem;
  flex: 1;
  text-align: left; /* Centers the title text within its space */
}

.logo {
  margin-right: auto; /* Aligns logo to the left */
  padding-right: 20px; /* Adds space between the logo and the title */
}

.about-me-button, .leaderboard-button {
  background-color: green;
  color: rgb(198, 222, 174);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin: 0 5px; /* Adds some space between buttons */
}

.about-me-button:hover, .leaderboard-button:hover {
  background-color: #0056b3;
}

.leaderboard-button {
  margin-left: auto; /* Aligns button to the right */
}


  